{% extends "cbase.html"%}
{% block title %}
customer home
{% endblock %}

{% block content %}

<h2 style="margin-top: 50px;text-align: center;">Welcome back , {{cdata[0][1]}}!!! Have fun Shopping!</h2><br>
<h3 style="text-align: center; margin-bottom: 50px ;color:rgb(245, 240, 240)">Available Deals: </h3>

<table class="table">

  <tr>
    <th>CROP NAME </th>
    <th>FARMER NAME</th>
    <th>QUANTITY(Available)</th>
    <th>PRICE(per Kg) </th>
    <th>BEST BEFORE</th>
    <th>PLACE ORDER</th>
  </tr>

  {% for i in html_data %}

  <tr class="bg-warning">
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[3]}}</td>
    <td>₹ {{i[2]}}</td>
    <td>{{i[4]}}</td>
    <form action="#" method="POST">
      <td><button type="submit" name="h_id" class="btn-info btn-block" , value={{i[5]}}>Order Now</button></td>
  </tr>

  </form>
  {% endfor %}
</table>

{% endblock %}
